@charset "ISO-8859-1";
body
{
	background-image: linear-gradient(to top left, #99c2ff, transparent);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #287DFF;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Helvetica, sans-serif;
}

main
{
	margin: 0px 200px 0px 200px;
}

nav
{
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-left: auto;
	margin-right: 20px;
	padding: 10px;
	top: 0;
	left: 0;
	position: fixed;
}

footer
{
	position: fixed;
	bottom: 0;
	left: 0;
	margin-left: 10px;
	margin-bottom: 20px;
}

#content
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#dropdown-title
{
	border: none;
	top: 0;
}

.dropdown-container
{
	position: -webkit-sticky;
	position: sticky;
	display: block;
	align-self: flex-start;
	margin-right: 50px;
}

#dropdown-menu
{
	display: none;
	position: absolute;
	background-image: linear-gradient(to top left, white, #99c2ff);
	min-width: auto;
	box-shadow: 0px 8px 16px 0px;
	z-index: 999;
	padding: 1em;
}

.dropdown-link
{
	text-decoration: none;
	display: block;
	color: black;
	padding: 1em;
	margin-left: 1em;
}

.dropdown-container:hover #dropdown-menu {display: inline-block;}

.dropdown-container:hover #dropdown-title
{
	background-color: #ffd6f5;
	cursor: pointer;
}