<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Add Album</title>
<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
</head>
<body>
<nav>
<div class="dropdown-container">
	<div id="dropdown-title"><a href="/" style="text-decoration:none;color:black">Home</a></div>
</div>
<div class="dropdown-container">
	<div id="dropdown-title">View</div>
	<div id="dropdown-menu">
		<div class="dropdown-link"><a href="/viewAlbums">All</a></div>
		<div class="dropdown-link"><a href="/viewOwned">Owned</a></div>
		<div class="dropdown-link"><a href="/viewWishlist">Wishlist</a></div>
	</div>
</div>
<div class="dropdown-container">
	<div id="dropdown-title"><a href="/addAlbum" style="text-decoration:none;color:black">Add</a></div>
</div>
</nav>
<h1>Add Album</h1>
<form th:action="@{/addAlbum}" method="post" th:object="${album}">
<input type="hidden" th:field="*{id}"><br>
Artist: <input type="text" th:field="*{artist}"><br>
Title: <input type="text" th:field="*{title}"><br>
Format: <select name="releaseFormat" th:field="*{releaseFormat}">
	<option th:text="Vinyl" th:value="'Vinyl'">
	<option th:text="CD" th:value="'CD'">
	<option th:text="Cassette" th:value="'Cassette'">
</select><br>
Release Year: <input type="text" th:field="*{releaseYear}"><br>
Ownership: <select name="ownership" th:field="*{ownership}">
	<option th:text="Owned" th:value="'Owned'">
	<option th:text="Wishlist" th:value="'Wishlist'">
</select><br>

<input type="submit" value="Add Album">
</form>
<footer>
&copy; Adrian Davies, 2023
</footer>
</body>
</html>