<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>View Art</title>
<link rel="stylesheet" type="text/css" href="../css/stylesheet.css">
</head>
<body>
<nav>
<div class="dropdown-container">
	<div id="dropdown-title"><a href="/" style="text-decoration:none;color:black">Home</a></div>
</div>
<div class="dropdown-container">
	<div id="dropdown-title">View</div>
	<div id="dropdown-menu">
		<div class="dropdown-link"><a href="/viewLawyers">Lawyers</a></div>
		<div class="dropdown-link"><a href="/viewArt">Art</a></div>
	</div>
</div>
<div class="dropdown-container">
	<div id="dropdown-title">Add</div>
	<div id="dropdown-menu">
		<div class="dropdown-link"><a href="/addLawyer">Lawyer</a></div>
		<div class="dropdown-link"><a href="/addArt">Art</a></div>
	</div>
</div>
</nav>
<h1>View Art</h1>
<table border="1">
	<tr>
		<th>Art ID</th>
		<th>Name</th>
		<th>Price</th>
		<th>Quantity</th>
		<th>Employee</th>
		<th>Options</th>
	</tr>
	<tr th:each="a : ${artList}">
		<td th:text="${a.id}"></td>
		<td th:text="${a.name}"></td>
		<td th:text="${a.price}"></td>
		<td th:text="${a.quantity}"></td>
		<td th:text="${a.employeeName}"></td>
		<td><a th:href="@{/editArt/{id}(id=${a.id})}">EDIT</a> | 
		<a th:href="@{/delete/{id}(id=${a.id})}">DELETE</a></td>
	</tr>
</table>
<footer>
&copy; Adrian Davies, 2023
</footer>
</body>
</html>